.hero-cntnr {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/map-plan-med.jpg') no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px; 
}

.hero-text {
    color: white;
    font-family: Lato, sans-serif;
    /* border: solid red; */
    padding-left: 10rem;
}

.hero-h1 {
    font-size: 5em;
}

/* .hero-p {
    font-size: 10rem;
} */