html {
    font-family: Lato;
}

h4, p {
    margin:0;
}


.itinerary-wrapper{
    /* border: 1px solid red; */
    display: flex;
    padding: 1.5rem 1rem;
    gap: 2.5rem;
}

.itinerary-overview{
    /* border: 1px solid green; */
    padding: 0 1rem;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.itinerary-overview h4 {
    color: var(--DarkOrange);
}

.itinerary-overview p, .support-wrapper p {
    color: lightslategrey;
    /* color: var(--Grey); */
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

/* .itinerary-details{
    border: 1px solid blue;
} */

.support-wrapper {
    border-top: 1px solid rgba(0,0,0,0.125);
    /* border: solid 1px purple; */
    margin-top: 1rem;
    padding: 0 1rem 0 2rem;
}

/* .support-wrapper p {
    color: lightslategrey;
} */